.scene {
  height: 800px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url('/space-background-univers.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.scene.launch {
  animation: scrollBackground 28s linear forwards;
}

.rocket {
  position: relative;
  width: 60px;
  height: 120px;
}

.rocket_body {
  width: 60px;
  height: 80px;
  background: #f2f2f2;
  border-radius: 50% 50% 0 0;
  position: relative;
}

.rocket_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Only apply shake animation when parent has launch class */
.launch .rocket_image {
  animation: shake 0.5s infinite alternate;
}

.exhaust_flame {
  position: absolute;
  bottom: 30px;
  left: 27px;
  width: 11px;
  height: 10px;
  background: linear-gradient(to bottom,
    #ff0000 0%,   /* red at top */
    #ff4d00 50%,  /* bright orange at middle */
    #ffd700 100%  /* yellow in bottom */
  );
  border-radius: 0 0 50% 50%;
  animation: flame 0.5s infinite;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.exhaust_flame_middle {
  position: absolute;
  bottom: 25px;
  left: 27px;
  width: 11px;
  height: 15px;
  background: linear-gradient(to bottom,
    #ff0000 0%,   /* red at top */
    #ff4d00 50%,  /* bright orange at middle */
    #ffd700 100%  /* yellow in bottom */
  );
  border-radius: 0 0 50% 50%;
  animation: flameMiddle 1s infinite;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.exhaust_flame_high {
  position: absolute;
  bottom: 22px;
  left: 27px;
  width: 11px;
  height: 18px;
  background: linear-gradient(to bottom,
    #e59408 0%,   /* red at top */
    #eda33c 50%,  /* bright orange at middle */
    #e0d073 100%  /* yellow in bottom */
  );
  border-radius: 0 0 50% 50%;
  animation: flameHigh 0.8s infinite;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.launch .exhaust_flame, .launch .exhaust_flame_middle, .launch .exhaust_flame_high {
  opacity: 1;
  visibility: visible;
}

.nameButton {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #0c13de;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

.explosionButton {
  background-color: #ffbb33;
  color: white;
}

.explosionButton:hover {
  background-color: #ffaa00;
}

.explosion {
  object-fit: contain !important;
  animation: explode 3s forwards;
  transform-origin: center;
}
.winner {
  object-fit: contain !important;
  animation: explode 13s forwards;
  transform-origin: center;
}

.progression{
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
  font-size: 3em;
  font-weight: bold;
  color: rgb(186, 169, 169);
}

/* Small devices (sm: max-width: 640px) */
@media (max-width: 640px) {
  .progression{
    color: #FFF;
    font-size: 18px;
  }
  .nameButton {
    top: 5px;
    left: 5px;
    padding: 5px 10px;
  }
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(0.5) rotate(0deg);
  }
  20% {
    transform: scale(1.2) rotate(-10deg);
  }
  40% {
    transform: scale(1) rotate(10deg);
  }
  60% {
    transform: scale(1.1) rotate(-5deg);
  }
  80% {
    transform: scale(0.9) rotate(5deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
} 

@keyframes flame {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(0) translateX(-5px);
  }
  50% {

    transform: translateY(0) translateX(5px);
  }
  75% {
    transform: translateY(0) translateX(-5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes flameMiddle {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(0) translateX(-8px);
  }
  50% {

    transform: translateY(0) translateX(8px);
  }
  75% {
    transform: translateY(0) translateX(-8px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes flameHigh {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(0) translateX(-3px);
  }
  50% {

    transform: translateY(0) translateX(3px);
  }
  75% {
    transform: translateY(0) translateX(-3px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(0) translateX(-2px);
  }
  50% {
    transform: translateY(0) translateX(2px);
  }
  75% {
    transform: translateY(0) translateX(-2px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
} 

@keyframes scrollBackground {
  from {
    background-position: center bottom;
  }
  to {
    background-position: center top;
  }
} 